/* ============== */
* {
    box-sizing: border-box;
}

/* Style the body */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* ================== */
/* Custom Scroll Bar */
::-webkit-scrollbar {
    width: 15px;
    background: transparent;
    opacity: 0;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px grey; 
    background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom,#000, red); 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, red, #000);
}

/* ================= */
/* Header/logo Title */
.header {
    width: 100%;
    height: 100%;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    width: 100%;
    height: 100%;
}

/* Slideshow  */
.mySlides {
    display: none;
    width:100%;
    height:100%;
}
.mySlides img {
    width:100%;
    height:100%;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 3s;
    transition: opacity 5s ease-in-out;
}
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* The dots/bullets/indicators */
.slide-indicator{
    position: absolute;
    right: 0;
    top: 50%;
}
.bar {
    display: block;
    cursor: pointer;
    height: 2px;
    width: 40px;
    text-align: right;
    margin: 10px 2px;
    background-color: #bbb;
    transition: background-color 0.8s ease-in-out;
}
.activebar, .bar:hover {
    background: linear-gradient(to right, red, #000, red);
}
.activebar{
    width: 70px;
    transform: translateX(-50%);
}

/* ============================ */
/* Style the top navigation bar */

.main-navbar {
    overflow: hidden;
    background-color: #333;
    box-shadow: 4px 4px 7px;
}

.main-navbar .left-span{
    width: 60%;
}
.main-navbar .right-span{
    width: 40%;
}
  
.main-navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.activeNav {
    background-color: #4CAF50;
    color: white;
  }
  
.main-navbar .icon {
    display: none;
    float: right;
}
  
.dropdown {
    float: left;
    overflow: hidden;
}
  
.dropdown .dropbtn {
    font-size: 17px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.main-navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #555;
    color: white;
}
  
.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

#webSearch {
    width: 130px;
    float: right;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
    background-color: white;
    background-image: url('../icons/search-glass.svg');
    background-size: 20px;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
  
#webSearch:focus {
    width: 50%;
    outline: none;
}
  
@media screen and (max-width: 600px) {
    .main-navbar a:not(.activeNav), .dropdown .dropbtn {
      display: none;
    }
    .main-navbar a.icon {
        display: block;
    }
}
  
@media screen and (max-width: 600px) {
    .main-navbar.responsive {position: relative;}
    .main-navbar.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .main-navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .main-navbar.responsive .dropdown {float: none;}
    .main-navbar.responsive .dropdown-content {position: relative;}
    .main-navbar.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
}

/* Column container */
.row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    -ms-flex: 30%; /* IE10 */
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}

/* Main column */
.main {   
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    background-color: white;
    padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}